Repository gpuweb/gpuweb, pull requests merged in 2020-04, with the labels that each got.

#655 Move builtins and intrinsics out of the grammar.
  wgsl/index.bs
Labels: for meeting, wgsl

#690 Remove regardless
  wgsl/index.bs
Labels: wgsl

#712 [wgsl] Define the void type
  wgsl/index.bs
Labels: wgsl

#710 Describe the return statement
  wgsl/index.bs
Labels: for wgsl meeting, wgsl
