Repository gpuweb/gpuweb, pull requests merged in 2020-10, with the labels that each got.

#1126 Remove old texture rule.
  wgsl/index.bs
Labels: wgsl

#1119 Update some notes and comments.
  wgsl/index.bs
Labels: wgsl

#1130 Fix the computation of requiredBytesInCopy
  spec/index.bs
Labels: for webgpu editors meeting

#1118 Explicitly list allowed component types per format.
  spec/index.bs
Labels: for webgpu editors meeting

#1121 Add arrayLength builtin method.
  wgsl/index.bs
Labels: wgsl

#1131 Add switch statement validation rules
  wgsl/index.bs
Labels: wgsl

#727 Add bit-complement operator ~
  wgsl/index.bs
Labels: wgsl

#689 No explicit grammar for decorations
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1093 [wgsl] Elaborate storage classes section
  wgsl/index.bs
Labels: wgsl

#1181 Change td to th in table headers
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1179 [wgsl] Relax void return requirement.
  wgsl/index.bs
Labels: wgsl

#1142 wgsl: describe builtin variables and how to declare them
  wgsl/index.bs
Labels: wgsl
