Repository gpuweb/gpuweb, pull requests merged in 2020-06, with the labels that each got.

#818 [wgsl] Fix definition of const_expr
  wgsl/index.bs
Labels: bug, wgsl

#815 [wgsl] Minor spec cleanups.
  wgsl/index.bs
Labels: wgsl

#817 [wgsl] Fix rendering of FLOAT_LITERAL.
  wgsl/index.bs
Labels: bug, wgsl

#824 Remove workgroup_size from builtin list.
  wgsl/index.bs
Labels: wgsl

#643 Remove `break if` in favor of `if () { break; }`.
  wgsl/index.bs
Labels: wgsl

#772 Add type rules for binary operators
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#764 "zero"/null of storable types, rework initializers
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#835 [wgsl] Remove unless.
  wgsl/index.bs
Labels: wgsl

#836 Convert symbols to code blocks.
  wgsl/index.bs
Labels: wgsl

#731 Wgsl switch requires default
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#837 wgsl: Fix conditions on break from continuing
  wgsl/index.bs
Labels: wgsl

#878 [wgsl] Define 'host-shareable', numeric scalars and vectors
  wgsl/index.bs
Labels: wgsl

#880 Allow types to be defined with zero init syntax.
  wgsl/index.bs
Labels: wgsl

#757 [wgsl] Updating loop section to include for
  wgsl/index.bs
Labels: wgsl

#892 wgsl: body_stmt is a valid statement
  wgsl/index.bs
Labels: wgsl
