Repository gpuweb/gpuweb, pull requests merged in 2020-09, with the labels that each got.

#1028 Updating for loops spec
  wgsl/index.bs
Labels: wgsl

#983 Elaborate conversions
  wgsl/index.bs
Labels: wgsl

#1040 Write WGSL "Shader Stages" section
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1054 Various grammar related updates to WGSL
  wgsl/index.bs
Labels: wgsl

#1057 Sketching out tracking of command lists
  spec/index.bs
Labels: for webgpu editors meeting

#1077 [wgsl] Remove sampled ms types.
  wgsl/index.bs
Labels: wgsl

#1058 Adding texture_sampler_types to type_decl
  wgsl/index.bs
Labels: wgsl

#1047 Rename 'as' to bitcast; remove 'cast'
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1032 Fixing textureLoad for read-only storage image
  wgsl/index.bs
Labels: wgsl

#1080 [wgsl] Change attributes to be c++ style.
  wgsl/index.bs
Labels: wgsl

#1083 Convert attribute lists to allow multiple entries.
  wgsl/index.bs
Labels: wgsl

#1082 [wgsl] Add GLSL.std.450 methods to spec.
  wgsl/index.bs
Labels: wgsl

#1046 Entry point fix, describe workgroups
  wgsl/index.bs
Labels: wgsl

#1089 Remove type generic from RO texture types
  wgsl/index.bs
Labels: wgsl

#1090 [wgsl] Allow multiple function decorations.
  wgsl/index.bs
Labels: wgsl

#1094 [wgsl] Fixup stdlib method return values.
  wgsl/index.bs
Labels: wgsl

#1096 [wgsl] Remove as keyword.
  wgsl/index.bs
Labels: wgsl

#1101 Fixup SPIR-V translation of the ! operator.
  wgsl/index.bs
Labels: wgsl

#1106 [wgsl] Fix bitcast note.
  wgsl/index.bs
Labels: wgsl

#1110 Fix mapping to SPIR-V for texture buffers
  wgsl/index.bs
Labels: wgsl
