Repository gpuweb/gpuweb, pull requests merged in 2020-05, with the labels that each got.

#711 [wgsl] Describe loop, break, continue, continuing
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#713 [wgsl] Describe switch statements
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#688 Remove premerge
  wgsl/index.bs
Labels: for wgsl meeting, wgsl

#722 Allow postfixes in the assignment lhs
  wgsl/index.bs
Labels: wgsl

#718 Fixes #717: BRACE and BRACKET tokens misnamed
  wgsl/index.bs
Labels: wgsl

#645 Add GPUShaderModuleDescriptor/sourceMap.
  spec/index.bs
Labels: for wgsl meeting, programming model, wgsl

#646 Add pipeline shader module error enumeration.
  spec/index.bs
Labels: programming model

#791 Remove TODO for signed and unordered comparisons
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#792 Make tokens for << >> >>>
  wgsl/index.bs
Labels: wgsl

#804 Remove NOP.
  wgsl/index.bs
Labels: wgsl
