Repository gpuweb/gpuweb, pull requests merged in 2020-07, with the labels that each got.

#852 [wgsl] Add spec text around vector accessors.
  wgsl/index.bs
Labels: wgsl

#898 Expand security considerations, split into sub-sections
  spec/index.bs
Labels: for webgpu editors meeting

#907 Add select builtin function
  wgsl/index.bs
Labels: wgsl

#912 Short-circuiting &&, ||; non-short-circuit bool and and or
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#890 wgsl: fix and elaborate scoping rules
  wgsl/index.bs
Labels: wgsl

#914 Tighten bit shifts
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#849 Add gpu texture format supported by copyImageBitmapToTexture destination
  spec/index.bs
Labels: for webgpu editors meeting

#870 Add time query on GPUCommandBuffer
  spec/index.bs
Labels: for webgpu editors meeting

#918 [wgsl] Rename kill to discard.
  wgsl/index.bs
Labels: for wgsl meeting, wgsl

#906 [wgsl] Add text around entry point function.
  wgsl/index.bs
Labels: for wgsl meeting, wgsl

#909 [wgsl] Adding textures to the spec.
  wgsl/Makefile
  wgsl/index.bs
Labels: for wgsl meeting, wgsl

#913 [wgsl] bool equality
  wgsl/index.bs
Labels: wgsl

#886 Describe module constants, including pipeline-overrideable
  wgsl/index.bs
Labels: wgsl

#942 Fix typo in for-loop braces grammar
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#944 Remove num_workgroups builtin variable
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#946 Reorganize built-in functions into own section
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#945 Use out-of-band messaging for the mipmap and array layer count
  spec/index.bs
Labels: for webgpu editors meeting

#949 Make BindGroupLayout parameters' default/undefined consistent
  spec/index.bs
Labels: for webgpu editors meeting

#910 [wgsl] Add stride array decoration.
  wgsl/index.bs
Labels: for wgsl meeting, wgsl
