Repository gpuweb/gpuweb, pull requests merged in 2020-11, with the labels that each got.

#1180 [wgsl] Flip the default texture name.
  wgsl/index.bs
Labels: for wgsl meeting, wgsl

#1189 Add data packing builtin functions
  wgsl/index.bs
Labels: for wgsl meeting, wgsl

#1196 Unpack builtins
  wgsl/index.bs
Labels: wgsl

#1204 [wgsl] Begin drafting textureSample builtins (v2)
  wgsl/index.bs
Labels: wgsl

#1216 [wgsl] Remove the preamble section
  wgsl/index.bs
Labels: wgsl

#1183 [wgsl] Add access qualifier to buffer types
  wgsl/index.bs
Labels: for wgsl meeting, wgsl

#1112 describe texel formats (for storage texture types)
  wgsl/index.bs
Labels: wgsl

#1233 wgsl: Cross-reference individual storage classes
  wgsl/index.bs
Labels: wgsl

#1215 WGSL: describe memory layout rules for buffers
  wgsl/index.bs
Labels: for wgsl meeting, wgsl

#1242 Make the [[front_facing]] builtin a boolean.
  wgsl/index.bs
Labels: wgsl

#1245 Add identity vector constructors
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1217 Remove GPUFence
  spec/index.bs
Labels: for webgpu editors meeting

#1161 Add validation rule for QuerySet and Timestamp Query
  spec/index.bs
Labels: for webgpu editors meeting

#1227 [wgsl] update name uniqueness validation rules
  wgsl/index.bs
Labels: wgsl

#1236 [wgsl] Unify decoration declarations.
  wgsl/index.bs
Labels: wgsl

#1254 WGSL: idx -> index
  wgsl/index.bs
Labels: wgsl

#1256 Rename binding types
  spec/index.bs
Labels: for webgpu editors meeting

#1185 Documented guaranteed swap chain formats and validation
  spec/index.bs
Labels: for webgpu editors meeting
