Repository gpuweb/gpuweb, pull requests merged in 2021-03, with the labels that each got.

#1465 Make requestDevice not return null
  design/ErrorHandling.md
  spec/index.bs
Labels: for webgpu editors meeting

#1463 Add more clarifications in "Depth/stencil formats"
  spec/index.bs
Labels: for webgpu editors meeting

#1467 [wgsl] Describe memory locations
  wgsl/index.bs
Labels: wgsl

#1468 Add an array access expression for runtime arrays
  wgsl/index.bs
Labels: wgsl

#1486 De-duplicate value testing tables
  wgsl/index.bs
Labels: wgsl

#1437 Remove in/out storage classes
  wgsl/index.bs
Labels: wgsl

#1478 Remove GPUDevice.adapter
  spec/index.bs
Labels: for webgpu editors meeting

#1489 [wgsl] Update grammar rules for entry point IO
  wgsl/index.bs
Labels: wgsl

#1476 Describe discard statement
  wgsl/index.bs
Labels: wgsl

#1447 [WGSL] Default struct memory layout
  wgsl/index.bs
Labels: wgsl

#1458 Reserve -- and ++
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1501 Add stage restriction to some texture built-ins
  wgsl/index.bs
Labels: wgsl

#1505 Alignment is a power of two.
  wgsl/index.bs
Labels: wgsl

#1507 Fix e2 type for component-wise logical shift right
  wgsl/index.bs
Labels: wgsl

#1496 Added `HTMLCanvasElement.getContext` definition
  spec/index.bs
Labels: for webgpu editors meeting

#1511 Write "Declaration and scope"
  wgsl/index.bs
Labels: wgsl

#1508 [wgsl] Allow `builtin` and `location` as struct member decorations
  wgsl/index.bs
Labels: wgsl

#1521 Make storeOp required
  spec/index.bs
Labels: for webgpu editors meeting

#1449 Add workgroupBarrier to WGSL
  wgsl/index.bs
Labels: wgsl

#1495 Add enable directive
  wgsl/index.bs
Labels: wgsl

#1527 Add vector constructor from scalar
  wgsl/index.bs
Labels: wgsl

#1535 Fix inconsistency in barrier names
  wgsl/index.bs
Labels: wgsl

#1536 Fix storage class constraint links
  wgsl/index.bs
Labels: wgsl

#1524 Refactor attributes
  wgsl/index.bs
Labels: wgsl

#1492 Rename sample_mask_out to sample_mask
  wgsl/index.bs
Labels: wgsl

#1540 Fix link to storage-texture section
  wgsl/index.bs
Labels: wgsl resolved

#1542 Define the extent of scopes for various statements
  wgsl/index.bs
Labels: wgsl

#1541 Disallow specifying the same attribute multiple times
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1545 Overhaul description of types, in the abstract
  wgsl/index.bs
Labels: wgsl

#1529 Infer constant types in WGSL
  samples/hello-cube.html
  wgsl/index.bs
Labels: wgsl

#1516 Describe functions, high level
  wgsl/index.bs
Labels: wgsl

#1551 Fix some examples in the spec
  wgsl/index.bs
Labels: wgsl

#1557 Fix grammar to make function return type optional
  wgsl/index.bs
Labels: wgsl resolved

#1561 Allow inter-scope shadowing
  wgsl/index.bs
Labels: wgsl

#1566 Fix typo in compound statement
  wgsl/index.bs
Labels: wgsl

#1519 Describe location requirements
  wgsl/index.bs
Labels: wgsl

#1460 Remove the void type
  wgsl/index.bs
Labels: wgsl

#1340 Remove the requirement to have entry points
  wgsl/index.bs
Labels: wgsl

#1570 function return type must be plain (or void)
  wgsl/index.bs
Labels: wgsl

#1574 Replace `const` with `let`.
  wgsl/index.bs
Labels: wgsl resolved
