Repository gpuweb/gpuweb, pull requests merged in 2021-09, with the labels that each got.

#2087 Fill out "Textual structure", eliminating several TODOs
  wgsl/index.bs
Labels: wgsl, wgsl:tokens

#2053 Match let declarations for inferred types
  wgsl/index.bs
Labels: wgsl

#2052 Allow indirection
  wgsl/index.bs
Labels: wgsl

#2095 wgsl: editorial fixes: control flow statements
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2101 Syntactic CI for Grammar
  .github/workflows/preview.yml
  .github/workflows/publish-specs.yml
  .github/workflows/publish-static.yml
  .gitignore
  wgsl/Makefile
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl

#2108 Allow non-overriable constants in texel offsets
  wgsl/index.bs
Labels: wgsl

#2125 Clarify line-ending comment
  wgsl/index.bs
Labels: wgsl

#2113 Make atomicCompareExchangeWeak return a structure
  wgsl/index.bs
Labels: wgsl

#2128 Enable Assume Explicit For
  wgsl/index.bs
Labels: wgsl

#2148 wgsl: Function call statement may call non-void functions
  wgsl/index.bs
Labels: wgsl, wgsl resolved
