Repository gpuweb/gpuweb, pull requests merged in 2021-12, with the labels that each got.

#2365 clarify scope of the for loop initializer
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2369 Include container option
  wgsl/extract-grammar.py
Labels: wgsl

#2361 [editorial] Simplify links to Vulkan memory model
  wgsl/index.bs
Labels: wgsl

#2356 Add memory model links in the atomic type section
  wgsl/index.bs
Labels: wgsl

#2381 Describe samplers
  wgsl/index.bs
Labels: wgsl

#2345 Add compound assignment (e.g. +=), updated
  wgsl/index.bs
Labels: wgsl

#2360 Add degrees, radians builtin functions
  wgsl/index.bs
Labels: wgsl

#2341 Add texture gather builtin functions
  wgsl/index.bs
Labels: wgsl

#2364 wgsl: Fix no-break loop behavior
  wgsl/index.bs
Labels: wgsl

#2382 Remove Next from switch condition when body doesn't have Next
  wgsl/index.bs
Labels: wgsl

#2305 wgsl: Add vector and matrix constructor overloads that infer component type
  wgsl/index.bs
Labels: wgsl

#2362 Add git version info to wgsl spec
  .gitignore
  spec/Makefile
  wgsl/Makefile
Labels: wgsl

#2395 Fix preview version
  .github/workflows/preview.yml
Labels: wgsl

#2394 Reduce patterns
  wgsl/index.bs
Labels: wgsl

#2347 Allow arrays with pipeline-overridable element count, as store type for workgroup variable
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2403 Always allow reassociation
  wgsl/index.bs
Labels: wgsl

#2422 Disallow empty buffer/texture usages
  spec/index.bs
Labels: editorial

#2417 Specify dispatchIndirect behavior when exceeding limit
  spec/index.bs
Labels: editorial

#2420 Fix error conventions for optional features
  design/ErrorConventions.md
  spec/index.bs
Labels: editorial

#2342 Add increment and decrement statements
  wgsl/index.bs
Labels: wgsl

#2413 Specify order of evaluation for expressions
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2432 Behaviour of empty statement is {Next}
  wgsl/index.bs
Labels: wgsl

#2433 wgsl: Fix TODOs in Execution section
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2443 wgsl: Fix "Entry Point" section TODOs
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2446 wgsl: Allow 0X for hex prefix
  wgsl/index.bs
Labels: wgsl

#2449 Disallow pipe for hex literals and allow capital
  wgsl/index.bs
Labels: wgsl

#2423 Remove [SameObject] from GPUUncapturedErrorEvent.error
  spec/index.bs
Labels: editorial

#2453 Restore the box around algorithm divs
  spec/index.bs
Labels: editorial

#2376 Add source image orientation to copyExternalImageToTexture
  spec/index.bs
Labels: for webgpu editors meeting

#2412 Fix classes of examples, globals, and previews
  .github/workflows/preview.yml
  wgsl/index.bs
Labels: wgsl

#2452 Rework encoder state and mixins
  spec/index.bs
Labels: for webgpu editors meeting
