Repository gpuweb/gpuweb, pull requests merged in 2021-05, with the labels that each got.

#1673 Add invariant attribute
  wgsl/index.bs
Labels: wgsl

#1701 [editorial] Unify built-in function tables
  wgsl/index.bs
Labels: wgsl

#1693 add atomic type, texture type, store type to storable; adjust rules for var and let. issue #1686
  wgsl/index.bs
Labels: wgsl

#1689 Refactor binding limits in terms of "binding cost"
  spec/index.bs
Labels: for webgpu editors meeting

#1674 Add function restrictions
  wgsl/index.bs
Labels: wgsl

#1714 Clarify function parameter and return types
  wgsl/index.bs
Labels: wgsl

#1718 Remove IN and OUT from storage class grammar
  wgsl/index.bs
Labels: wgsl

#1719 [editorial] Refactor validation section
  wgsl/index.bs
Labels: wgsl

#1690 Add initial color spaces
  spec/index.bs
Labels: for webgpu editors meeting

#1707 wgsl: Fix markup, broken links, adjust metadata for publication to /TR
  wgsl/index.bs
Labels: wgsl

#1723 wgsl: fix cross-references to WebGPU spec
  wgsl/index.bs
Labels: wgsl resolved

#1729 wgsl: add textureSampleCompareLevel
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1731 wgsl: Workgroup storage holds plain types
  wgsl/index.bs
Labels: wgsl resolved

#1730 [editorial] Leverage component-wise to reduce number of table entries
  wgsl/index.bs
Labels: wgsl

#1732 wgsl editorial: clean up IO-shareable, storable
  wgsl/index.bs
Labels: wgsl resolved

#1740 Re-introduce floating point comparisons
  wgsl/index.bs
Labels: wgsl

#1720 Limit pipeline constant IDs to between 0 and 65535
  wgsl/index.bs
Labels: wgsl

#1728 wgsl: describe derivatives, related uniformity
  wgsl/index.bs
Labels: wgsl

#1741 Remove texture_multisampled_2d_array builtins
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1751 Restrict barriers to compute shader stage
  wgsl/index.bs
Labels: wgsl

#1753 wgsl: Remove stale "location" decoration example
  wgsl/index.bs
Labels: wgsl

#1756 wgsl: infer var store type from initializer
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1755 wgsl: Clarify coordinate use by cube textures
  wgsl/index.bs
Labels: wgsl

#1749 [editorial] Remove type shorthands
  wgsl/index.bs
Labels: wgsl

#1748 Add some text to describe function variables going out of scope
  wgsl/index.bs
Labels: wgsl

#1742 Allow non-overridable constants in workgroup_size
  wgsl/index.bs
Labels: wgsl

#1727 wgsl: mipmap level -> mip level
  wgsl/index.bs
Labels: wgsl

#1735 wgsl: access mode is no longer an attribute
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1743 Add floating point execution rules
  wgsl/index.bs
Labels: wgsl

#1775 wgsl: Fix typo for modf pointer type
  wgsl/index.bs
Labels: wgsl, wgsl resolved
