Repository gpuweb/gpuweb, pull requests merged in 2021-01, with the labels that each got.

#1182 [wgsl] Update storage textures to use access qualifiers
  wgsl/index.bs
Labels: for wgsl meeting, wgsl

#1290 Remove outerProduct
  wgsl/index.bs
Labels: wgsl

#1318 WGSL: add sample_index, sample_mask_in, sample_mask_out
  wgsl/index.bs
Labels: for wgsl meeting, wgsl

#1282 abs only works on signed integer scalar or vector
  wgsl/index.bs
Labels: wgsl

#1238 wsgl: Add rule that offsets must be compile time constant
  wgsl/index.bs
Labels: wgsl

#1295 Add workgroup size and ID builtins
  wgsl/index.bs
Labels: wgsl

#1366 Fixup SPIR-V for float division.
  wgsl/index.bs
Labels: wgsl

#1369 Clarify: Structure members have names
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1336 Change the name of CreateReady*Pipeline to Create*PipelineAsync
  spec/index.bs
Labels: for webgpu editors meeting

#1301 Make all textureLoad functions on sampled textures require the level
  wgsl/index.bs
Labels: wgsl

#1246 Bools are IO-shareable, but only for builtins
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1383 Fix example shader in 8.2 Entry Point Declaration
  wgsl/index.bs
Labels: wgsl

#1293 Rendering algorithm (vertex and primitive assembly)
  spec/index.bs
Labels: for webgpu editors meeting

#1362 Add bool vector coercion
  wgsl/index.bs
Labels: wgsl, wgsl resolved
