Repository gpuweb/gpuweb, pull requests merged in 2021-04, with the labels that each got.

#1578 Define 'composite' type, pin down "plain" type.
  wgsl/index.bs
Labels: wgsl

#1564 Specify the primitive clipping and rasterization stages
  spec/index.bs
Labels: for webgpu editors meeting

#1587 Add ignore builtin function
  wgsl/index.bs
Labels: wgsl

#1586 Add section for "Constant Identifier Expression"
  wgsl/index.bs
Labels: wgsl

#1592 WGSL: add Technical Overview
  wgsl/index.bs
Labels: wgsl

#1569 WGSL: describe ref ptr
  wgsl/index.bs
Labels: wgsl resolved

#1593 WIP: Shader lifecycle, and kinds of errors
  wgsl/index.bs
Labels: wgsl

#1605 Add interpolation section and attribute
  wgsl/index.bs
Labels: wgsl

#1585 Add WGSL spec writing style guide
  wgsl/wgsl_spec_style_guide.md
Labels: wgsl

#1612 WGSL: Fix wording
  wgsl/index.bs
Labels: wgsl

#1619 arrayLength acts on poitner-to-runtime-array
  wgsl/index.bs
Labels: wgsl

#1611 Vector-matrix arithmetic extended with scalar "splats"
  wgsl/index.bs
Labels: wgsl

#1648 Add transpose built-in function
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1646 UTF-8 is always a valid encoding for WGSL
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1650 Describe if statements
  wgsl/index.bs
Labels: wgsl

#1654 Fix description of a variable's reference type
  wgsl/index.bs
Labels: wgsl resolved

#1657 [editorial] Remove vector short convenience names
  wgsl/index.bs
Labels: wgsl

#1656 Add sections on User Agent State for Privacy
  spec/index.bs
Labels: privacy-tracker

#1651 Describe function calls
  wgsl/index.bs
Labels: wgsl

#1560 Fix uniform struct size requirement
  wgsl/index.bs
Labels: wgsl

#1493 Allow trailing commas in the argument lists, calls, and cases
  wgsl/index.bs
Labels: wgsl

#1643 Added offset, length to GPUCompilationMessage
  spec/index.bs
Labels: for webgpu editors meeting

#1581 copyExternalImageToTexture for ImageBitmap and canvases
  spec/index.bs
Labels: for webgpu editors meeting

#1679 wgsl: fill out var-and-let
  wgsl/index.bs
Labels: wgsl

#1685 Clarify type matching for var initializer
  wgsl/index.bs
Labels: wgsl resolved

#1684 Add num_workgroups built-in variable
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1688 wgsl: only atomic modifications are mutually ordered
  wgsl/index.bs
Labels: wgsl resolved

#1678 Rename constant_id to override
  wgsl/index.bs
Labels: wgsl, wgsl resolved
