Repository gpuweb/gpuweb, pull requests merged in 2021-02, with the labels that each got.

#1386 Remove obsolete note about matrix layout
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1370 Add type rules for composite value decomposition
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1403 WGSL: round break ties toward even
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1390 Rename GPUExtent3DDict.depth to .depthOrArrayLayers
  spec/index.bs
Labels: for webgpu editors meeting

#1416 Further improvements to createView()
  spec/index.bs
Labels: for webgpu editors meeting

#1322 Rename GPUVertexFormat members to match GPUTextureFormat
  spec/index.bs
Labels: investigation

#1426 Entry point arguments and return values
  samples/hello-cube.html
  wgsl/index.bs
Labels: wgsl

#1410 indexing is 0-based, and array size is at least 1
  wgsl/index.bs
Labels: wgsl

#1411 Restrict contents of array and struct
  wgsl/index.bs
Labels: wgsl

#1407 WGSL: Explain vector and matrix
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1420 Add support for hex float literals
  wgsl/index.bs
Labels: wgsl

#1444 Workgroup size dimensions can be pipeline-overrideable constants
  wgsl/index.bs
Labels: wgsl

#1461 Set dsinclair as a former editor for wgsl
  wgsl/index.bs
Labels: wgsl
