Repository gpuweb/gpuweb, pull requests merged in 2021-07, with the labels that each got.

#1896 wgsl: Reserve `vec` and `mat` keywords
  wgsl/index.bs
Labels: wgsl

#1898 Fix the compute limits, adds maxComputeWorkgroupSize
  spec/index.bs
Labels: for webgpu editors meeting

#1915 [wgsl] Improve the Memory Layout sections
  wgsl/index.bs
Labels: wgsl

#1906 Clarify out of bounds texture operations
  wgsl/index.bs
Labels: wgsl

#1939 wgsl: Properly reference IEEE 754
  wgsl/index.bs
Labels: wgsl

#1940 Add quantizeToF16 builtin function
  wgsl/index.bs
Labels: wgsl

#1934 wgsl: vector bool conversion to numeric vectors
  wgsl/index.bs
Labels: wgsl

#1951 wgsl: tighten constraints on 'offset' param to texture sampling
  wgsl/index.bs
Labels: wgsl

#1950 Simplify IO-shareable
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1952 wgsl: type checking applies to const_expr too
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1965 [wgsl] Fix definition of length and distance
  wgsl/index.bs
Labels: wgsl

#1945 wgsl: Change `operator%(f32,32)` to use `OpFRem`
  wgsl/index.bs
Labels: wgsl

#1984 Fix typo: "independent"
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1737 copyExternalImageToTexture: add validation, make validation async
  spec/index.bs
Labels: for webgpu editors meeting

#1983 Disallow taking the address of a handle
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1942 Allow unsigned wgsl array sizes.
  wgsl/index.bs
Labels: wgsl

#1855 wgsl: refine pointer function call restrictions
  wgsl/index.bs
Labels: wgsl

#1973 wgsl: Change `modf` and `frexp` to return a structure
  wgsl/index.bs
Labels: wgsl
