Repository gpuweb/gpuweb, pull requests merged in 2021-06, with the labels that each got.

#1765 Update GPUAdapterLimits to GPUSupportedLimits
  spec/index.bs
Labels: for webgpu editors meeting

#1799 Fix typos in comparison tables
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1798 wgsl: assignment only works on atomic-free plain type
  wgsl/index.bs
Labels: wgsl

#1796 wgsl: derivatives can only be invoked in fragment stage
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1807 wgsl: fix grammar: access mode is optional
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1811 setBindGroup: make start+length check synchronous
  spec/index.bs
Labels: for webgpu editors meeting

#1818 wgsl: fix front_facing type in example
  wgsl/index.bs
Labels: wgsl resolved

#1797 wgsl: textureSampleLevel on texture_external samples level 0
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1819 wgsl: Add notes reinforcing where plain types go
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1826 wgsl: fix typo in var type inference example
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1828 wgsl: type rule for parenthesized expr
  wgsl/index.bs
Labels: wgsl resolved

#1722 Clarify out of bounds behavior
  wgsl/index.bs
Labels: wgsl

#1809 wgsl: explain internal layout of atomic type
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1827 wgsl: clarify and fix wording for function calls
  wgsl/index.bs
Labels: wgsl resolved

#1833 Add note that sized and runtime-sized arrays are distinct types
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1804 Rename misleading nonGuaranteed* names
  spec/index.bs
Labels: for webgpu editors meeting

#1841 Add atomic type to grammar and keywords
  wgsl/index.bs
Labels: wgsl

#1823 wgsl: remove unsigned case for frexp 2nd arg
  wgsl/index.bs
Labels: wgsl

#1836 Expand allowable type for ignore()
  wgsl/index.bs
Labels: wgsl

#1808 wgsl: briefly explain storable and IO-shareable
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1858 wgsl: allow unsigned workgroup_size components
  wgsl/index.bs
Labels: wgsl

#1874 fix << operator: first operand can be unsigned
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1876 wgsl: define 'constructible' types, and apply it
  wgsl/index.bs
Labels: wgsl

#1875 wgsl: cleanup old text, discuss conversions/constructions
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1881 wgsl: clarify interpolation defaulting
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#1863 Add a bunch of limits.
  spec/index.bs
Labels: for webgpu editors meeting

#1889 wgsl: Fix typo on description of structure type
  wgsl/index.bs
Labels: wgsl, wgsl resolved
