Repository gpuweb/gpuweb, pull requests merged in 2021-11, with the labels that each got.

#2233 Remove TODO about "lazy-decay"
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2139 Replace depth-clamp feature with depth-clip feature
  spec/index.bs
Labels: for webgpu editors meeting

#2225 wgsl: Disallow taking the address of a vector component
  wgsl/index.bs
Labels: wgsl

#2248 Add missing brackets for double brackets
  wgsl/index.bs
Labels: wgsl

#2253 Explicitly describe declaration cycles
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2055 Add a memory model mapping to Vulkan
  wgsl/index.bs
Labels: wgsl

#2216 Behaviours analysis
  wgsl/index.bs
Labels: wgsl

#2251 wgsl: Require [[location]] for [[interpolate]]
  wgsl/index.bs
Labels: wgsl

#2266 Remove obsolete attribute_list in variable_ident_decl
  wgsl/index.bs
Labels: wgsl

#2267 Update operator precedence rules
  wgsl/index.bs
Labels: wgsl

#2276 wgsl: describe type aliases
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2265 Restrict the lhs of assignments to fix a grammar conflict
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl

#2239 Replace the "elseif" syntax by "else if"
  wgsl/index.bs
Labels: wgsl

#2280 Fix conflict between the PRs: 'else if' & 'Behavior analysis'
  wgsl/index.bs
Labels: wgsl

#2281 wgsl: all directives appear before any declarations
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2288 Describe nesting block comments
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2291 Support nesting block comments in CI grammar
  wgsl/extract-grammar.py
Labels: wgsl

#2293 Remove reset method and exemplify usage
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl

#2287 wgsl: Remove TODO about default rounding mode
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2307 Allow 'f' suffix on floats
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2282 Resolve issue: No other characters count as blankspace
  wgsl/index.bs
Labels: wgsl

#2295 A block comment must affirmatively end before end of source
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl

#2297 Fixes to memory model for barriers and atomics
  wgsl/index.bs
Labels: wgsl

#2318 Clarify behaviour of a function
  wgsl/index.bs
Labels: wgsl

#2313 WGSL source must not include a null character
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2325 Remove isFinite, isNormal
  wgsl/index.bs
Labels: wgsl

#2326 Allow identifiers to start with underscore, with exceptions
  wgsl/index.bs
Labels: wgsl

#2334 wgsl: Clarify "static accessed"
  wgsl/index.bs
Labels: wgsl

#2317 Do not require function with return value to end with return.
  wgsl/index.bs
Labels: wgsl

#2330 Conversion from float to integral rounds toward zero
  wgsl/index.bs
Labels: wgsl

#2351 Fill out scope explanations and collective operations
  wgsl/index.bs
Labels: wgsl

#2353 Update wording of texture usage to allow parameter
  wgsl/index.bs
Labels: wgsl

#2284 Make invalidity less-magic
  spec/index.bs
Labels: for webgpu editors meeting

#2104 Remove block attribute
  wgsl/index.bs
Labels: wgsl
