Repository gpuweb/gpuweb, pull requests merged in 2022-02, with the labels that each got.

#1571 Add the uniformity analysis to the WGSL spec
  wgsl/index.bs
Labels: wgsl

#2566 Fix step() logic
  wgsl/index.bs
Labels: wgsl

#2563 Add optional trailing comma for the attribute syntax.
  wgsl/index.bs
Labels: wgsl

#2585 if,switch param does not require parentheses
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2590 Add while loop
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2562 Allow sparse color attachments and ignored FS outputs
  spec/index.bs
Labels: for webgpu editors meeting

#2594 Remove SPIR-V mappings
  wgsl/index.bs
Labels: wgsl

#2615 Fix a typo in FP32 internal layout
  wgsl/index.bs
Labels: wgsl

#2621 Clarify when a built-in function name can be redefined
  wgsl/index.bs
Labels: wgsl

#2624 wgsl: Cleanup internal layout of matrix type
  wgsl/index.bs
Labels: wgsl

#2623 [editorial] Fix uniformity table widths
  wgsl/index.bs
Labels: wgsl

#2618 Add break-if as optional at end of continuing
  wgsl/index.bs
Labels: wgsl, wgsl resolved
