Repository gpuweb/gpuweb, pull requests merged in 2022-04, with the labels that each got.

#2689 Rename dispatch -> dispatchWorkgroups
  spec/index.bs
Labels: tacit resolution queue

#2716 Require views on 2d multisampled textures to be 2d
  spec/index.bs
Labels: tacit resolution queue

#2733 [wgsl] Link CTS from spec.
  wgsl/index.bs
Labels: wgsl

#2728 [wgsl] Clarify the continue text.
  wgsl/index.bs
Labels: wgsl

#2721 wgsl: Allow increment/decrement statements in for_init
  wgsl/index.bs
Labels: wgsl

#2742 Rewrite the function aliasing restrictions
  wgsl/index.bs
Labels: wgsl

#2745 Make matrix notation more intuitive
  wgsl/index.bs
  wgsl/wgsl_spec_style_guide.md
Labels: wgsl

#2668 Add creation-time expressions
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl

#2752 Change hypothetical extensions example
  wgsl/index.bs
Labels: wgsl

#2734 WGSL Internationalization Adjustment for Code Points
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl, i18n-tracker, wgsl:tokens

#2726 [wgsl] Minor formatting and language changes.
  wgsl/index.bs
Labels: wgsl

#2755 Update logic for default TextureView dimension
  spec/index.bs
Labels: tacit resolution candidate

#2779 wgsl: Define "code point" by normative reference to Unicode
  wgsl/index.bs
Labels: wgsl

#2781 Make blankspaces a section
  wgsl/index.bs
Labels: wgsl

#2791 Nits from #2751
  spec/index.bs
Labels: editorial

#2774 Don't reserve buffer, texture, in, out, input, output
  wgsl/index.bs
  wgsl/keywords
Labels: wgsl

#2784 Clarify type and use case for object labels
  spec/index.bs
Labels: tacit resolution queue
