Repository gpuweb/gpuweb, pull requests merged in 2022-05, with the labels that each got.

#2722 Change integer texture parameters to unsigned
  wgsl/index.bs
Labels: wgsl

#2813 Make IO-shareable types apply to user-defined IO only.
  wgsl/index.bs
Labels: wgsl, editorial

#2797 In type rule for boolean negation (`!`), use `T` in precondition.
  wgsl/index.bs
Labels: bug, wgsl, editorial

#2425 Specify that filtering with comparison is implementation-defined
  spec/index.bs
Labels: editorial

#2762 [wgsl] Split regex apart by segment.
  .github/workflows/preview.yml
  wgsl/index.bs
Labels: wgsl, editorial

#2819 Factor out "invalidate the current texture", misc cleanups
  spec/index.bs
Labels: editorial

#2820 Add a limit for maxColorAttachments
  spec/index.bs
Labels: tacit resolution queue

#2823 Validate unknown texture usage bits
  spec/index.bs
Labels: editorial

#2792 Allow creation-time expression in case seletors; Add missings `@const`s
  wgsl/index.bs
Labels: wgsl

#2814 Fix second form of mix
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2759 Add staticAssert
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2838 Add "bgra8unorm-storage" feature flag
  spec/index.bs
Labels: editorial

#2839 Add detail to note on viewFormats performance
  spec/index.bs
Labels: editorial

#2841 Explicitly specify precision for color space conversions
  spec/index.bs
Labels: editorial

#2833 Reserve binding_array
  wgsl/index.bs
  wgsl/keywords
Labels: wgsl resolved

#2835 Specify computed values for modf
  wgsl/index.bs
Labels: wgsl resolved

#2848 Clarify conversion rank for composites of abstract types
  wgsl/index.bs
Labels: wgsl

#2854 Clarify references to "update the rendering", "interface object"
  spec/index.bs
Labels: editorial

#2746 [editorial] Change vast majority of must language to link to shader-creation error
  wgsl/index.bs
Labels: wgsl

#2845 Adopt n11n note from i18n specdev
  wgsl/index.bs
Labels: wgsl, i18n-tracker

#2840 Add guidance on what browsers "should" put in error messages/console
  spec/index.bs
Labels: editorial

#2816 Clarify workgroup variable initialization value description
  wgsl/index.bs
Labels: wgsl

#2866 Formal parameter of ptr type must be instantiable
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2880 Address out-of-bounds sample index in textureLoad
  wgsl/index.bs
Labels: wgsl

#2882 Remove multisampled text from textureNumLayers
  wgsl/index.bs
Labels: wgsl

#2862 Clarify convertability of constant-time expressions
  wgsl/index.bs
Labels: wgsl, editorial

#2868 wgsl: Make float builtin preconditions similar to integer builtins.
  wgsl/index.bs
Labels: wgsl, editorial

#2867 editorial: Change 'pointee type' to 'store type'
  wgsl/index.bs
Labels: wgsl resolved, editorial

#2885 Clarify flat interpoation requirements
  wgsl/index.bs
Labels: wgsl

#2773 Clarify conversions: floating, and out-of-range AbstractInt
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2837 buffer/device.destroy() unmaps buffer on current thread
  spec/index.bs
Labels: tacit resolution queue

#2834 Raise maxComputeWorkgroupStorageSize from 16352 to 16384
  spec/index.bs
Labels: tacit resolution queue

#2795 Clarity how to interpret GPURenderPassColorAttachment/clearValue
  spec/index.bs
Labels: tacit resolution queue

#2851 ConversionRank table gets vector, matrix rows
  wgsl/index.bs
Labels: wgsl

#2900 Clarify fract for small negative numbers
  wgsl/index.bs
Labels: wgsl

#2901 Clarify non-normative wording about i32 inference
  wgsl/index.bs
Labels: wgsl resolved, editorial

#2902 Clairfy attribute numeric params
  wgsl/index.bs
Labels: wgsl, wgsl resolved, editorial

#2904 Forbid spelling non-instantiable pointer types
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2911 Update constructors in GPUError IDL
  spec/index.bs
Labels: editorial

#2909 Clarify some error types
  wgsl/index.bs
Labels: wgsl, editorial

#2846 Special case uniformity of arrayLength
  wgsl/index.bs
Labels: wgsl, uniformity

#2912 Allow control flow reconvergence for short circuit expressions
  wgsl/index.bs
Labels: wgsl, uniformity

#2932 Fix cross-reference to pointer type
  wgsl/index.bs
Labels: wgsl, editorial

#2937 [wgsl]: Minor grammar cleanup, add spec link.
  wgsl/index.bs
Labels: wgsl, editorial

#2942 Clarify 'S' in the ref<S,T,A> row of the ConversionRank
  wgsl/index.bs
Labels: wgsl, editorial

#2925 [wgsl]: Remove interpolation tokens from reserved words
  wgsl/index.bs
  wgsl/keywords
Labels: wgsl

#2954 'utilize' -> 'use'
  wgsl/index.bs
Labels: wgsl, editorial

#2944 Change ref<S,T,A> to ref<AS,T,AM>
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2735 Describe WGSL's context-aware tokenization
  wgsl/index.bs
Labels: wgsl

#2987 Disallow accessing padding
  wgsl/index.bs
Labels: wgsl
