Repository gpuweb/gpuweb, pull requests merged in 2022-09, with the labels that each got.

#3405 [editorial] "create a WebGPU object" algorithm
  spec/index.bs
Labels: editorial

#3416 Synchronize grammar dependencies for new version
  tools/install-dependencies.sh
  wgsl/extract-grammar.py
Labels: wgsl, editorial

#3409 wgsl: clarify length builtin on scalar
  wgsl/index.bs
Labels: wgsl, editorial

#3401 Constant errors for integer expressions
  wgsl/index.bs
Labels: wgsl

#3426 [editorial] Fix access mode defaults
  wgsl/index.bs
Labels: wgsl, editorial

#3410 Add HTMLVideoElement to copyExternalImageToTexture
  spec/index.bs
Labels: proposal, needs-cts-issue

#3379 [editorial] Uniformity examples
  wgsl/diagrams/uniformity_1.mmd
  wgsl/diagrams/uniformity_2.mmd
  wgsl/diagrams/uniformity_3.mmd
  wgsl/diagrams/uniformity_3b.mmd
  wgsl/diagrams/uniformity_4.mmd
  wgsl/diagrams/uniformity_5main.mmd
  wgsl/diagrams/uniformity_5scale.mmd
  wgsl/img/uniformity_1.mmd.svg
  wgsl/img/uniformity_2.mmd.svg
  wgsl/img/uniformity_3.mmd.svg
  wgsl/img/uniformity_3b.mmd.svg
  wgsl/img/uniformity_4.mmd.svg
  wgsl/img/uniformity_5main.mmd.svg
  wgsl/img/uniformity_5scale.mmd.svg
  wgsl/index.bs
Labels: wgsl, editorial, uniformity

#3428 Change atan2's accuracy to being inherited from atan(y/x)
  wgsl/index.bs
Labels: wgsl:builtins

#3429 [editorial] Change pipeline IO to shader-stage IO
  wgsl/index.bs
Labels: wgsl, editorial

#3425 Constant floating point errors for NaN and inf
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#3414 Adjust literals section
  wgsl/index.bs
  wgsl/wgsl.recursive.bs.include
Labels: editorial

#3433 nit: only resolves are ordered, not rejections
  spec/index.bs
Labels: editorial

#3403 Add texture sample function which clamps coordinates
  spec/index.bs
  wgsl/index.bs
Labels: editorial

#3438 Clarify initial description if, else-if, else
  wgsl/index.bs
Labels: wgsl, editorial

#3439 wgsl: Fix link to WebGPU GPUExternalTexture
  wgsl/index.bs
Labels: wgsl, editorial

#3440 wgsl: Fix loop example (let should be var)
  wgsl/index.bs
Labels: wgsl, editorial

#3347 Describe validation errors from createShaderModule
  spec/index.bs
Labels: editorial

#3442 wgsl: clarify type equivalence of arrays with overridable element counts
  wgsl/index.bs
Labels: wgsl, editorial

#3436 Rename `type_decl` to `type_specifier`
  wgsl/index.bs
  wgsl/wgsl.recursive.bs.include
Labels: editorial

#3445 Fix ldexp constraints lost when SPIR-V mappings were removed
  wgsl/index.bs
Labels: wgsl, editorial

#3444 wgsl: Rename "array_type" to "array_type_specifier"
  wgsl/index.bs
Labels: wgsl, editorial

#3449 Fix t parameterization of textureSample
  wgsl/index.bs
Labels: wgsl, editorial

#3446 Clarify abstract shift left
  wgsl/index.bs
Labels: wgsl, editorial

#3455 Revert "Make getBGL return a "copy" instead of a "reference""
  spec/index.bs
Labels: needs-cts-issue

#3456 Add missing override-declaration to uniformity rules for lvalue-position
  wgsl/index.bs
Labels: wgsl, editorial

#3450 Clarify for-loop condition evaluation
  wgsl/index.bs
Labels: wgsl, editorial

#3448 Clarify ranges of normalized values for unorm, snorm packing/unpacking
  wgsl/index.bs
Labels: wgsl, editorial

#3459 Sign change error should be for <<
  wgsl/index.bs
Labels: wgsl

#3336 Add a static alias analysis
  wgsl/index.bs
Labels: wgsl

#3463 Restore arithmetic right shift, when LHS is signed
  wgsl/index.bs
Labels: wgsl, editorial

#3462 [editorial] Type chapter clarifications
  wgsl/index.bs
Labels: wgsl, editorial

#3451 Fix t parameterization of textureSampleLevel
  wgsl/index.bs
Labels: wgsl, editorial

#3464 Explain duality of ldexp with frexp
  wgsl/index.bs
Labels: wgsl, editorial

#3467 Explain why u32(AbstractInt) conversion expression exists
  wgsl/index.bs
Labels: wgsl, editorial

#3466 Further qualify composite types as decomposible
  wgsl/index.bs
Labels: wgsl, editorial

#3472 textureSampelBaseClampToEdge clamps to half-texel from the edge
  wgsl/index.bs
Labels: wgsl, editorial

#3469 Allow u32s for attributes
  wgsl/index.bs
Labels: wgsl

#3481 Validation errors on out-of-bounds pipeline constants, and clearValues
  spec/index.bs
Labels: editorial, needs-cts-issue
