Repository gpuweb/gpuweb, pull requests merged in 2022-03, with the labels that each got.

#2617 wgsl: Reserve words from common programming languages
  wgsl/extract-grammar.py
  wgsl/index.bs
  wgsl/keywords
Labels: wgsl, wgsl resolved

#2581 Add acosh, asinh, atanh builtin functions
  wgsl/index.bs
Labels: wgsl

#2626 wgsl: Cleanup the internal memory layout of vector using SizeOf
  wgsl/index.bs
Labels: wgsl

#2634 wgsl: Fix typos of accuracy of exp and exp2
  wgsl/index.bs
Labels: wgsl

#2627 Validate query index overwrite in timestampWrites of render pass
  spec/index.bs
Labels: investigation

#2638 Add definitions for uniformity terms
  wgsl/index.bs
Labels: wgsl

#2650 Name in enable directive can be a keyword or reserved word
  wgsl/index.bs
Labels: wgsl

#2656 Uses commas to separate struct members intead of semicolons
  wgsl/index.bs
Labels: wgsl

#2658 [editorial] Compress expression tables
  wgsl/index.bs
Labels: wgsl

#2645 Add a way of setting the initial label for the default queue
  spec/index.bs
Labels: tacit resolution candidate

#2605 Add importExternalTexture examples with rAF/rVFC rendering
  spec/index.bs
Labels: editorial

#2675 Error handling cleanup
  spec/index.bs
Labels: editorial

#2681 Floating clamp can be median-of-three
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2595 Allow Unicode Identifiers
  spec/index.bs
  wgsl/index.bs
Labels: wgsl, wgsl:tokens

#2686 wgsl: Fix a typo in Vector conversion type rules
  wgsl/index.bs
Labels: wgsl

#2695 Fix typo: Code point should always be split
  spec/index.bs
  wgsl/index.bs
Labels: wgsl

#2697 [editorial] Add definitions for uniformity tags
  wgsl/index.bs
Labels: wgsl

#2705 Fix typo in uniformity analysis note
  wgsl/index.bs
Labels: wgsl

#2539 editorial: discuss parsing ambiguity: type construction, function call
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2227 Literal unification, bottom-up
  wgsl/index.bs
Labels: wgsl

#2712 Rename smoothStep to smoothstep
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2713 Remove shift tokens and add shift built-in functions
  wgsl/index.bs
Labels: wgsl, wgsl resolved, wgsl:tokens

#2711 Make colon in case optional
  wgsl/index.bs
Labels: wgsl, wgsl resolved
