Repository gpuweb/gpuweb, pull requests merged in 2022-08, with the labels that each got.

#3270 Fix repeated 'keyword' in explanation of extension names
  wgsl/index.bs
Labels: wgsl, editorial

#3268 Fix typo in example of user-defined function
  wgsl/index.bs
Labels: wgsl, editorial

#3269 Add @workgroup_size attributes on compute shader examples
  wgsl/index.bs
Labels: wgsl, editorial

#3267 clarify lifetime of a declaration in a loop body
  wgsl/index.bs
Labels: wgsl, editorial

#3282 wgsl: Fix typo in cosh(x) accuracy definition
  wgsl/index.bs
Labels: wgsl:builtins

#3230 Allow using depth textures with 'unfilterable-float' bindings
  spec/index.bs
Labels: editorial, needs-cts-issue

#3284 Move non-type keywords into the other keyword section.
  wgsl/index.bs
Labels: wgsl

#3239 Adjust argumentdef style to fit better within the width of the spec
  spec/index.bs
Labels: editorial

#3301 [editorial] Fix markdown
  wgsl/index.bs
Labels: editorial

#3303 [editorial] Fixes for declaration and scope
  wgsl/index.bs
Labels: wgsl, editorial

#3299 Rework WGSL grammar to make it nicer for recursive descent
  wgsl/index.bs
Labels: wgsl

#3302 Disallow duplicated built-in inputs and outputs
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#3304 [editorial] Attribute clarifications
  wgsl/index.bs
Labels: wgsl, editorial

#3305 Clarify limits on workgroup size dimension values
  wgsl/index.bs
Labels: wgsl, editorial

#3306 Clarify that type aliases can be used for type constructors
  wgsl/index.bs
Labels: wgsl, editorial

#3307 Clarify stores to invalid memory references
  wgsl/index.bs
Labels: wgsl

#3315 Remove fallthrough statements
  wgsl/index.bs
Labels: wgsl

#3314 [editorial] Function chapter clarifications
  wgsl/index.bs
Labels: wgsl, editorial, wgsl:functions

#3309 [editorial] Replace uses of integral as a type
  wgsl/index.bs
Labels: wgsl, editorial

#3308 [editorial] Add links in the atomic types section
  wgsl/index.bs
Labels: wgsl, editorial

#3310 Wait for queue completion before destroying device
  spec/index.bs
Labels: editorial, needs-cts-issue

#3300 Separate content/device internal states of GPUBuffer
  spec/diagrams/buffer-map-failure.mmd
  spec/diagrams/buffer-map-unmap.mmd
  spec/img/buffer-map-failure.mmd.svg
  spec/img/buffer-map-unmap.mmd.svg
  spec/index.bs
Labels: editorial

#3283 Add external_texture to Resource Layout Compatibility table
  wgsl/index.bs
Labels: wgsl, editorial

#3298 Add a data-flow analysis for local variables in uniformity
  wgsl/index.bs
Labels: wgsl, uniformity

#3316 Clarify default mixed in with cases, fix rule about duplicate case values
  wgsl/index.bs
  wgsl/keywords
Labels: wgsl, editorial

#3320 uniformity: Clarify partial/full assignment fo
  wgsl/index.bs
Labels: wgsl, editorial

#3321 Grammar: collect assignment, incr, decr into "variable_updating_statement"
  wgsl/index.bs
Labels: wgsl, editorial

#3325 Add missing timeline headers in getMappedRange and unmap
  spec/index.bs
Labels: editorial

#3078 Set a limit for maximum array size
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#3344 [editorial] Introduction clarifications
  wgsl/index.bs
Labels: wgsl, editorial

#3345 [editorial] Fix attribute typos
  wgsl/index.bs
Labels: wgsl, editorial

#2301 Add proposals/ directory and pipeline statistics extension doc
  proposals/README.md
  proposals/pipeline-statistics-query.md
  spec/index.bs
Labels: tacit resolution queue

#3014 Expose the buffer state as an attribute
  spec/index.bs
Labels: proposal, tacit resolution queue, needs-cts-issue

#3343 [Editorial] Clarifying Abstract Types in the first line
  wgsl/index.bs
Labels: wgsl

#3350 Update the WebGPU editors list
  spec/index.bs
Labels: editorial

#3340 Add tracking-vector annotations
  spec/index.bs
Labels: editorial

#3338 Better formalize and document mapAsync promise ordering
  spec/index.bs
Labels: editorial

#3348 Reject redundant map requests early so there are never multiple pending promises
  spec/index.bs
Labels: editorial

#3363 Require render and resolve to have same base format
  spec/index.bs
Labels: editorial, needs-cts-issue

#3360 [editorial] Clarify 24-bit depth
  spec/index.bs
Labels: editorial

#3361 Define promise resolution ordering
  spec/index.bs
Labels: editorial

#3292 publish grammar without left-recursion; add tooling to make it so
  tools/copy-if-different.sh
  wgsl/Makefile
  wgsl/analyze/Grammar.py
  wgsl/analyze/lalr.py
  wgsl/index.bs
  wgsl/wgsl.recursive.bs.include
Labels: wgsl, editorial

#3351 Specify OOM behavior in mapping
  spec/index.bs
Labels: tacit resolution queue, needs-cts-issue

#3311 When source usability is bad, error asynchronously
  spec/index.bs
Labels: tacit resolution queue

#3366 Add maxBufferSize limit
  spec/index.bs
Labels: tacit resolution queue

#3372 [editorial] Fix uniformity for statements table render
  wgsl/index.bs
Labels: wgsl, editorial

#3341 Make getBGL return a "copy" instead of a "reference"
  spec/index.bs
Labels: editorial

#3353 [editorial] Specify what part of buffer is updated in unmap()
  spec/index.bs
Labels: editorial

#3369 [editorial] Vertical column headers for texture format table
  spec/index.bs
Labels: editorial

#3381 [editorial] Make `GPUUncapturedErrorEvent.error` `[SameObject]`
  spec/index.bs
Labels: editorial

#3378 Move promise resolutions in algorithms to content timeline
  spec/index.bs
Labels: editorial

#3318 Reduce max binding index and make it a limit
  spec/index.bs
Labels: tacit resolution queue, needs-cts-issue

#3374 [editorial] Improve exposition of the uniformity analysis
  wgsl/index.bs
Labels: wgsl, editorial, uniformity

#3388 Fix address space for runtime-sized array example
  wgsl/index.bs
Labels: wgsl, editorial

#3380 Require maxBufferSize to be at least as max*BufferBindingSize
  spec/index.bs
Labels: editorial

#3368 Remove device-timeline validation error in unmap()
  spec/index.bs
Labels: editorial

#3382 [editorial] Define scheme for state on different timelines
  spec/diagrams/buffer-map-failure.mmd
  spec/diagrams/buffer-map-unmap.mmd
  spec/img/buffer-map-failure.mmd.svg
  spec/img/buffer-map-unmap.mmd.svg
  spec/index.bs
Labels: editorial

#3392 Clarify units for trig and hyperbolic functions
  wgsl/index.bs
Labels: wgsl, editorial

#3362 Make error reporting unordered
  spec/index.bs
Labels: editorial

#3400 Errors for constant out-of-bounds accesses
  wgsl/index.bs
Labels: wgsl, wgsl resolved, wgsl:expressions

#3398 [editorial] consistent x-refs to IDL methods, add a common dfn for setBindGroup
  spec/index.bs
Labels: editorial

#3396 [editorial] Clarify specification of stripIndexFormat
  spec/index.bs
Labels: editorial

#3123 Add the "internal" error type
  spec/index.bs
Labels: tacit resolution queue

#3394 Pull reserved word list into its own file
  wgsl/Makefile
  wgsl/extract-grammar.py
  wgsl/index.bs
  wgsl/keywords
  wgsl/wgsl.reserved.bs.include
Labels: wgsl, editorial

#3397 Add note about texture copies not preserving bit values
  spec/index.bs
Labels: editorial
