Repository gpuweb/gpuweb, pull requests merged in 2022-01, with the labels that each got.

#2472 [editorial] wgsl: left shifts are logical
  wgsl/index.bs
Labels: wgsl

#2474 Remove 'read','read_write','write' as keywords, image formats as keywords
  wgsl/index.bs
Labels: wgsl

#2475 Only define image format names usable for storage textures
  wgsl/index.bs
Labels: wgsl

#2476 [editorial] Rename "built-in variable" -> "built-in value"
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2480 Move Limits section to under "WGSL Program"
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2479 Fix declaration-and-scope section for out-of-order decls
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2430 Behaviors: Ban obviously infinite loops
  wgsl/index.bs
Labels: wgsl

#2485 Clarify fract
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2467 wsgl: Add bit-finding functions.
  wgsl/index.bs
Labels: wgsl

#2466 wgsl: Add extractBits, insertBits
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2495 Add mixed vector-scalar float % operator
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2483 wgsl: Remove notes about non-ref dynamic indexing
  wgsl/index.bs
Labels: wgsl

#2441 Disallow aliasing writable resources
  spec/index.bs
Labels: for webgpu editors meeting

#2503 Remove stride attribute
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl

#2499 Struct decl does not have to end in a semicolon
  wgsl/index.bs
Labels: wgsl

#2434 wgsl: float to integer conversion saturates
  wgsl/index.bs
Labels: wgsl

#2401 Store type for buffer does not have to be structure
  spec/index.bs
  wgsl/index.bs
Labels: wgsl

#2521 editorial: streamline array and structure layout descriptions
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2496 Change GPUObjectBase.label from nullable to union-with-undefined
  spec/index.bs
Labels: tacit resolution queue

#2386 Separate loadOp and clear values
  spec/index.bs
Labels: tacit resolution queue

#2519 Add note explaining how dispatch args and workgroup sizes interact
  spec/index.bs
Labels: editorial

#2522 Refine the supported swapchain formats
  spec/index.bs
Labels: tacit resolution candidate

#2530 wgsl: Fix example's builtin name
  wgsl/index.bs
Labels: wgsl

#1830 wgsl: detailed semantics of integer division and remainder
  wgsl/index.bs
Labels: wgsl

#2404 Add override declarations
  wgsl/index.bs
Labels: wgsl

#2524 Rename storage class into address space
  spec/index.bs
  wgsl/index.bs
Labels: wgsl

#2534 Explain smoothStep better
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2533 Fix clamp arity in error bounds section
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#2544 [editorial] Use consistent capitalisation in section titles
  wgsl/index.bs
Labels: wgsl

#2543 Remove unnecessary todos
  wgsl/index.bs
Labels: wgsl

#2540 Add GPUTextureDescriptor viewFormats list
  spec/index.bs
Labels: for webgpu editors meeting

#2538 Enforce presence of an initializer for module-scope let
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl
