Repository gpuweb/gpuweb, pull requests merged in 2022-07, with the labels that each got.

#3117 In certain places, identifiers don't resolve to declarations
  wgsl/extract-grammar.py
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#3129 Generalize invalid memory reference to any originating variable
  wgsl/index.bs
Labels: wgsl, wgsl resolved, editorial

#3136 Move extractBits into alphabetical order
  wgsl/index.bs
Labels: wgsl, editorial

#3138 Describe params and return for textureSampleCompareLevel
  wgsl/index.bs
Labels: wgsl, editorial

#3140 Add external texture to description of 't' for textureSampleLevel
  wgsl/index.bs
Labels: wgsl

#3143 Clarify attribute integer paramters validity
  wgsl/index.bs
Labels: wgsl

#3144 Clarify directives come first
  wgsl/index.bs
Labels: wgsl

#3142 Remove references to OpConstantTrue, OpConstantFalse
  wgsl/index.bs
Labels: wgsl, editorial

#3141 Allow level to be i32 in textureDimensions
  wgsl/index.bs
Labels: wgsl

#3145 Clarify: function is only kind of decl that can contain other decls
  wgsl/index.bs
Labels: wgsl, editorial

#3068 Add saturate floating point builtin function
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#3159 Specify when pointer types are the same
  wgsl/index.bs
Labels: wgsl, wgsl:types

#3164 Fix note about builtins with texture type as a parameter
  wgsl/index.bs
Labels: wgsl, editorial, wgsl:types

#3163 Move buffer access mode example
  wgsl/index.bs
Labels: wgsl, editorial

#3161 Make 'reference' and 'pointer type' appear in table-of-contents
  wgsl/index.bs
Labels: wgsl, editorial, wgsl:types

#3162 Structure members of vector and matrix type must be concrete
  wgsl/index.bs
Labels: wgsl, wgsl:types

#3168 Note that objects may hold strong references to parents
  spec/index.bs
Labels: editorial

#3171 Delete vague statement about @group and @binding
  wgsl/index.bs
Labels: wgsl, editorial

#3173 Simplify 'if' description
  wgsl/index.bs
Labels: wgsl, editorial

#3172 LHS of compound assignment has read_write access mode
  wgsl/index.bs
Labels: wgsl, editorial

#3170 Add rg11b10ufloat-renderable feature
  spec/index.bs
Labels: editorial, needs-cts-issue

#3178 Fix double word "say say"
  wgsl/index.bs
Labels: wgsl, editorial

#3122 Allow inter-stage variable subsetting
  spec/index.bs
Labels: proposal, editorial, needs-cts-issue

#3179 [editorial] Add definitions for built-in values
  wgsl/index.bs
Labels: wgsl, editorial

#3184 Fix length overloads
  wgsl/index.bs
Labels: wgsl, wgsl resolved

#3174 Fix wording of if behaviour, re. parenthesization
  wgsl/index.bs
Labels: wgsl, editorial

#3189 Rename creation-time constant/expresion/function to const-
  wgsl/index.bs
Labels: wgsl, editorial

#3126 Say that shaders should terminate, or UA may lose the device
  spec/index.bs
Labels: wgsl

#3190 Move override-expression definition into its own section
  wgsl/index.bs
Labels: wgsl, editorial, wgsl:expressions

#3213 Add abstract arrays
  wgsl/index.bs
Labels: wgsl

#3181 Describe writeTexture as copying the entire source to the device timeline
  spec/index.bs
Labels: editorial

#3182 Un-nest timeline steps
  spec/index.bs
Labels: editorial

#3214 [editorial] Move abstract numeric types under plain types
  wgsl/index.bs
Labels: wgsl, editorial, wgsl:types

#3225 Clarify abstract numeric expressions can't produce infinity or NaN
  wgsl/index.bs
Labels: wgsl, editorial, wgsl:types

#3228 Set currentTexture to null on presentation
  spec/index.bs
Labels: editorial

#3234 Merge floating-point, integer, matrix and vector built-in functions
  wgsl/index.bs
Labels: wgsl, editorial, wgsl:builtins

#3226 Rewrite variables and values for clarity
  wgsl/index.bs
Labels: wgsl, editorial, wgsl:var/value

#3240 There are four kinds of value declarations.
  wgsl/index.bs
Labels: wgsl

#3212 Specify sign(.) more clearly
  wgsl/index.bs
Labels: wgsl, editorial

#3232 Rename staticAssert to static_assert
  wgsl/index.bs
Labels: wgsl

#3167 Remove types from reserved word list
  wgsl/index.bs
  wgsl/keywords
Labels: wgsl, wgsl resolved

#3235 Add abstract types to scalar types
  wgsl/index.bs
Labels: wgsl, editorial, wgsl:types

#3233 Allow expressions in attribute parameters
  wgsl/index.bs
Labels: wgsl

#3237 Clean up description of entry point IO
  wgsl/index.bs
Labels: wgsl, editorial

#3249 Clarify what location applies to
  wgsl/index.bs
Labels: wgsl, editorial

#3248 Simplify 'select' parameterization: scalars can be abstract
  wgsl/index.bs
Labels: wgsl, editorial

#3157 @size attrib only applied to member types with creation-fixed footprint
  wgsl/index.bs
Labels: wgsl

#3254 Make function returns reconverge
  wgsl/index.bs
Labels: wgsl, wgsl resolved, uniformity

#3256 Write "identifer" instead of "identifier use"
  wgsl/index.bs
Labels: wgsl, editorial

#3262 Move "Inteprolation" after "Input-output Locations"
  wgsl/index.bs
Labels: wgsl, editorial
