Repository gpuweb/gpuweb, pull requests merged in 2022-11, with the labels that each got.

#3552 Limit the maximum statement nesting depth to 127
  wgsl/index.bs
Labels: wgsl

#3561 Document extreme values for concrete numeric scalar types
  wgsl/index.bs
Labels: wgsl, editorial

#3558 Remove special-case uniformity rules for short-circuiting ops
  wgsl/index.bs
Labels: wgsl

#3564 wgsl: add compile-time failure cases for quantizeToF16, pack2x16float
  wgsl/index.bs
Labels: wgsl

#3562 Clarify rule about binding aliasing in a shader
  wgsl/index.bs
Labels: wgsl, editorial

#3572 float conversion overflow is compile-time error if orginal expression…
  wgsl/index.bs
Labels: wgsl, editorial

#3577 Allow slightly more expressions for pointer arguments
  wgsl/index.bs
Labels: wgsl

#3568 Describe a mnemonic for 'frexp'
  wgsl/index.bs
Labels: wgsl, editorial

#3570 Add mnemonics for ldexp and fma
  wgsl/index.bs
Labels: wgsl, editorial

#3579 Update identifier expressions table to include const-decl
  wgsl/index.bs
Labels: wgsl, editorial

#3581 Allow aliased resource variables
  wgsl/index.bs
Labels: wgsl

#3580 Explicitly define a root identifier
  wgsl/index.bs
Labels: wgsl, editorial

#3565 Clarify mathematical value of float literal
  wgsl/index.bs
Labels: wgsl

#3588 Rename frexp result significand to .fract
  wgsl/index.bs
Labels: wgsl

#3589 Fix description of fract
  wgsl/index.bs
Labels: wgsl, editorial

#3592 clarify when const- and override-expressions are evaluated
  wgsl/index.bs
Labels: wgsl, editorial

#3596 Remove early statement saying variables don't overlap
  wgsl/index.bs
Labels: wgsl, editorial

#3519 [editorial] Make a section for defining copies generally, not just commands
  spec/Makefile
  spec/index.bs
  spec/sections/copies.bs
Labels: editorial

#3599 Refactor argument_expression_list for readability
  wgsl/index.bs
Labels: wgsl, editorial

#3598 GPUBuffer.destroy() calls unmap() if pending
  spec/index.bs
Labels: editorial

#3600 wgsl: Limit the overrides declarations in shader interface
  wgsl/index.bs
Labels: wgsl

#3603 Fix confusing "reference to" wording in uniformity analysis
  wgsl/index.bs
Labels: wgsl, editorial

#3604 wgsl: Make sections for each barrier function
  wgsl/index.bs
Labels: wgsl, editorial

#3607 wgsl: Capitalize the first word after "Note:"
  wgsl/index.bs
Labels: wgsl, editorial

#3614 Fix capitalization of section title
  wgsl/index.bs
Labels: wgsl, editorial

#3623 Add abstract versions of modf and frexp
  wgsl/index.bs
Labels: wgsl

#3625 wgsl: Fix typo in `modf` description
  wgsl/index.bs
Labels: wgsl, editorial

#3629 wgsl: Make builtin returned struct names consistent
  wgsl/index.bs
Labels: wgsl

#3606 wgsl: add concept of degenerate partial reference
  wgsl/index.bs
Labels: wgsl, editorial

#3636 Fix typos
  wgsl/index.bs
Labels: wgsl, editorial

#3635 Describe modf in terms of trunc and subtraction
  wgsl/index.bs
Labels: wgsl, editorial

#3291 Add predeclared short names for vector types
  wgsl/index.bs
Labels: wgsl

#3639 [editorial] Introduce behavioral requirement definition
  wgsl/index.bs
Labels: wgsl, editorial

#3643 Fix typo in compute pipeline creation section
  spec/index.bs
Labels: editorial

#3637 wgsl: sample `texture_external` with `textureSampleBaseClampToEdge`
  wgsl/index.bs
Labels: wgsl, editorial

#3627 Clarify "to WGSL type" use of TypeError
  spec/index.bs
Labels: editorial

#3645 [editorial] Check all destroyable resources at submit()
  spec/index.bs
Labels: editorial
