Repository gpuweb/gpuweb, pull requests merged in 2023-01, with the labels that each got.

#3712 Add missing line breaks in shift preconditions
  wgsl/index.bs
Labels: wgsl, editorial

#3704 Remove spurious note on depthStoreOp
  spec/index.bs
Labels: editorial

#3640 WGSL: allow bgra8unorm as texel format
  spec/index.bs
  wgsl/index.bs
  wgsl/keywords
  wgsl/wgsl.recursive.bs.include
Labels: wgsl

#3720 Define/document behavior of missing channels in blending
  spec/index.bs
Labels: editorial

#3727 Fix sort order in recursive-descent grammar
  wgsl/wgsl.recursive.bs.include
Labels: wgsl, editorial

#3725 Make bikeshed definitions for uniformity nodes
  wgsl/index.bs
Labels: wgsl, editorial

#3724 Allow abstract array element access via const-expression index
  wgsl/index.bs
Labels: wgsl, editorial, wgsl:expressions

#3732 Update text/wgsl media registration with privacy note
  wgsl/index.bs
Labels: wgsl, editorial

#3734 [wgsl] Change remainder to say Inherited from.
  wgsl/index.bs
Labels: wgsl

#3718 Introduce "call_expression" grammar rule
  wgsl/index.bs
  wgsl/wgsl.recursive.bs.include
Labels: wgsl, editorial

#3719 Formal parameter scope is the function body
  wgsl/index.bs
Labels: wgsl

#3743 Fix "For to Loop Transformation" example, with fixed headings
  wgsl/index.bs
Labels: wgsl, editorial

#3741 Finalize text/wgsl media type registration
  wgsl/index.bs
Labels: wgsl, editorial

#3736 Remove static_assert from reserved words
  wgsl/keywords
  wgsl/wgsl.reserved.bs.include
Labels: wgsl, editorial

#3754 grammar analyzer: fix computation of lookahead sets
  wgsl/analyze/Grammar.py
  wgsl/analyze/test.py
Labels: wgsl, editorial

#3758 Rename static_assert to const_assert
  wgsl/index.bs
  wgsl/wgsl.recursive.bs.include
Labels: wgsl, wgsl resolved

#3759 Reserve static_assert from C++
  wgsl/index.bs
  wgsl/keywords
  wgsl/wgsl.reserved.bs.include
Labels: wgsl, editorial

#3757 grammar analyzer: simplify lookahead test
  wgsl/analyze/test.py
Labels: editorial

#3760 Fix cross-refs for new Bikeshed changes
  spec/index.bs
  tools/install-dependencies.sh
  wgsl/index.bs
Labels: editorial

#3764 Use 'alias' to create type aliases instead of 'type'
  wgsl/index.bs
  wgsl/keywords
  wgsl/wgsl.recursive.bs.include
  wgsl/wgsl.reserved.bs.include
Labels: wgsl, wgsl resolved

#3775 Tentative quick fix for readability
  wgsl/index.bs
Labels: wgsl, editorial

#3766 NFKC normal WGSL spec sources and introduce check
  tools/check-nfkc.py
  wgsl/Makefile
  wgsl/extract-grammar.py
  wgsl/wgsl_spec_style_guide.md
Labels: wgsl, editorial

#3761 wgsl: align attribute constraint is technically redundant
  wgsl/index.bs
Labels: wgsl, editorial

#3783 grammar analyzer: fix first and follow sets when terminals are inlined
  wgsl/analyze/Grammar.py
  wgsl/analyze/test.py
Labels: wgsl

#3784 Reserve common scalar types, and quat
  wgsl/keywords
  wgsl/wgsl.reserved.bs.include
Labels: wgsl
