Repository gpuweb/gpuweb, pull requests merged in 2023-07, with the labels that each got.

#4218 Always connect the uniformity graph after a function call.
  wgsl/index.bs
Labels: wgsl, uniformity

#4220 Clarify "inherited from" accuracy
  wgsl/index.bs
Labels: wgsl, editorial

#4225 Error on unpack4x8snorm unpack4x8unofrm unpack2x16norm is 3ULP
  wgsl/index.bs
Labels: wgsl

#4217 Editorial use custom Action for validation and deployment
  .devcontainer/devcontainer.json
  .github/workflows/build-push-custom-image.yml
  .github/workflows/build-validate-publish.yml
  .github/workflows/preview-pull-request.yml
  Makefile
  correspondence/Makefile
  explainer/Makefile
  spec/Makefile
  tools/custom-action/Dockerfile
  tools/custom-action/action.yml
  tools/custom-action/dependency-versions.sh
  tools/custom-action/entrypoint.sh
  tools/custom-action/prepare.sh
  tools/install-dependencies.sh
  tools/invoke-mermaid.sh
  tools/mermaid-puppeteer.json
  wgsl/Makefile
  wgsl/extract-grammar.py
Labels: editorial

#4226 Hotfix for preview-pull-request
  .github/workflows/preview-pull-request.yml
  tools/custom-action/action.yml
  tools/custom-action/entrypoint.sh
Labels: editorial

#4231 Avoid in-place sed for previews
  .github/workflows/preview-pull-request.yml
Labels: editorial

#4232 Modify chmod mask rather than set
  tools/custom-action/entrypoint.sh
Labels: editorial

#4237 [editorial] Add missing @must_use
  wgsl/index.bs
Labels: wgsl, editorial

#4247 Clarify fp accuracy, remove redundant overflow text
  wgsl/index.bs
Labels: wgsl, editorial

#4249 Delete TODO: made dfn nodes for predclared types
  wgsl/index.bs
Labels: wgsl, editorial

#3430 Add HTMLImageElement and ImageData to copyExternalImageToTexture
  spec/sections/copies.bs
Labels: proposal, needs-cts-issue

#4245 Add `rgb10a2uint` texture format
  spec/index.bs
Labels: needs-cts-issue

#4250 Clarify frexp: result for denorm are indeterminate
  wgsl/index.bs
Labels: wgsl

#4248 Explain accuracy rules for AbstractFloat
  wgsl/index.bs
Labels: wgsl
