Repository gpuweb/gpuweb, pull requests merged in 2023-02, with the labels that each got.

#3633 Use automatic expiry for imported textures, remove .expired
  spec/index.bs
Labels: tacit resolution candidate, needs-cts-issue

#3797 grammar analyzer: Fix first and follow sets for degenerate rules
  wgsl/analyze/Grammar.py
  wgsl/analyze/test.py
Labels: bug

#3801 Fix outdated `maxTextureArrayLayers` description
  spec/index.bs
Labels: editorial

#3806 Make regex single-line comment
  wgsl/extract-grammar.py
Labels: wgsl, editorial

#3811 wgsl: Fix description of truncate and trunc
  wgsl/index.bs
Labels: wgsl, editorial

#3817 wgsl: Fix capitalization of section headers
  wgsl/index.bs
Labels: wgsl, editorial

#3818 Prevent matrix padding from being modified
  wgsl/index.bs
Labels: wgsl

#3803 wgsl: discover template lists early (Lookahead disambiguation of less-than vs template argument list (v2))
  .clang-format
  wgsl/Makefile
  wgsl/analyze/Grammar.py
  wgsl/extract-grammar.py
  wgsl/index.bs
  wgsl/scanner.cc
  wgsl/wgsl.recursive.bs.include
  wgsl/wgsl_unit_tests.py
Labels: wgsl

#3800 Support STORAGE usage on bgra8unorm as an extension
  spec/index.bs
Labels: wgsl

#3822 Merge dfns in headings with the headings themselves
  spec/index.bs
  spec/sections/copies.bs
Labels: editorial

#3833 Add column for whether format is blendable
  spec/index.bs
Labels: editorial

#3832 [editorial] Chapters 8+
  wgsl/index.bs
Labels: wgsl, editorial

#3843 Clarify all sync built-in functions must only be in uniform control flow
  wgsl/index.bs
Labels: wgsl, editorial

#3825 [editorial] Chapters 1-7
  wgsl/index.bs
Labels: wgsl, editorial

#3845 wgsl: Concretization must be concrete
  wgsl/index.bs
Labels: bug, wgsl, editorial

#3847 Rename "type constructor" -> "value constructor"
  wgsl/index.bs
Labels: wgsl, editorial

#3851 [editorial] Reorganize memory sections
  wgsl/index.bs
Labels: wgsl, editorial

#3842 Add longer WGSL example to top of WGSL spec
  wgsl/index.bs
Labels: wgsl

#3860 Make reserved words list more consistent
  wgsl/index.bs
  wgsl/keywords
  wgsl/wgsl.reserved.bs.include
Labels: wgsl

#3861 Fix intro to "Memory" section, to refer to Memory Views
  wgsl/index.bs
Labels: wgsl, editorial

#3869 wgsl: Fix cross-reference to GPUExternalTexture
  wgsl/index.bs
Labels: wgsl, editorial

#3870 Fix case of `Hullshader` in unreserve list.
  wgsl/keywords
Labels: wgsl

#3862 Add @must_use attribute
  wgsl/index.bs
  wgsl/wgsl.recursive.bs.include
Labels: wgsl

#3872 Define floating point accuracy for `transpose`
  wgsl/index.bs
Labels: wgsl:floating-point-evaluation

#3859 types, type-generators, enumerants are ordinary predeclared identifiers; not keywords or context-dependent names
  wgsl/index.bs
  wgsl/keywords
  wgsl/wgsl.recursive.bs.include
  wgsl/wgsl.reserved.bs.include
  wgsl/wgsl_unit_tests.py
Labels: wgsl

#3878 Fix template list discovery, to recognize embedded comparisons and shifts
  wgsl/index.bs
Labels: bug, wgsl

#3884 Describe accuracy for determinant
  wgsl/index.bs
Labels: wgsl

#3877 Treesitter scanner: fix handling of '=' and shifts in template args
  wgsl/scanner.cc
  wgsl/wgsl_unit_tests.py
  wgsl/wgsl_unit_tests_equals.py
  wgsl/wgsl_unit_tests_simple.py
  wgsl/wgsl_unit_tests_template.py
Labels: treesitter
