Repository gpuweb/gpuweb, pull requests merged in 2024-03, with the labels that each got.

#4516 Add const_assert to statement behaviors
  wgsl/index.bs
Labels: wgsl

#4520 Compat: Validate depthOrArrayLayers matches textureBindingViewDimension
  proposals/compatibility-mode.md
Labels: compat

#4529 [editorial] Clarify that override declarations must be at module scope
  wgsl/index.bs
Labels: wgsl, editorial

#4530 [editorial] Clarify that texture copy ranges are 'physical'
  spec/sections/copies.bs
Labels: editorial

#4552 Make shader-creation errors possible for array sizes
  wgsl/index.bs
Labels: wgsl
