Repository gpuweb/gpuweb, pull requests merged in 2024-01, with the labels that each got.

#4441 [editorial] fix character refs
  spec/index.bs
  wgsl/index.bs
Labels: wgsl, editorial

#4447 Fix result type in occlusion query
  spec/index.bs
Labels: editorial

#4443 Disallow sample_index builtin in Compatibility.
  proposals/compatibility-mode.md
Labels: proposal, compat

#4444 Compatibility Mode: disallow two-component (RG) texture formats in storage texture bindings.
  proposals/compatibility-mode.md
Labels: proposal, compat

#4449 Add scalar value constructors from abstracts
  wgsl/index.bs
Labels: wgsl

#4445 Compatibility mode: depth bias clamp must be zero.
  proposals/compatibility-mode.md
Labels: proposal, compat

#4454 Add LHS expr rules for * and &
  wgsl/index.bs
Labels: wgsl, uniformity

#4462 [editorial] Fix "validating shader binding" argument name.
  spec/index.bs
Labels: editorial

#4397 Add Compat Limits to Proposal
  proposals/compatibility-mode.md
Labels: compat

#4439 Update packed_4x8_integer_dot_product description
  wgsl/index.bs
Labels: wgsl, editorial, language extension

#4466 Fix typos in #4449.
  wgsl/index.bs
Labels: editorial

#4472 Infra related with outdated preview prune and preview extension
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  wgsl/.pr-preview.json
Labels: editorial

#4469 Include GPUProgrammableStage validation in derived type validation.
  spec/index.bs
Labels: editorial
