Repository gpuweb/gpuweb, pull requests merged in 2024-02, with the labels that each got.

#4471 Fix truncated line in "default pipeline layout" algorithm.
  spec/index.bs
Labels: editorial

#4470 Use "get the entry point" algorithm where necessary.
  spec/index.bs
Labels: editorial

#4424 Add Compat interpolation validation
  proposals/compatibility-mode.md
Labels: compat

#4482 [wgsl] Fixup bitcast return types.
  wgsl/index.bs
Labels: bug, wgsl

#4479 Remove 'update the rendering' hook for service/shared worker
  spec/index.bs
Labels: editorial

#4487 [wgsl] Assume `bool` is 4 bytes for array limits
  wgsl/index.bs
Labels: wgsl
