Repository gpuweb/gpuweb, pull requests merged in 2024-10, with the labels that each got.

#4827 Update Tree-sitter version
  .github/workflows/build-push-custom-image.yml
  .gitignore
  spec/img/buffer-map-failure.mmd.svg
  spec/img/buffer-map-unmap.mmd.svg
  tools/custom-action/Dockerfile
  tools/custom-action/dependency-versions.sh
  tools/install-dependencies.sh
  wgsl/Makefile
  wgsl/grammar/.gitignore
  wgsl/grammar/Cargo.toml
  wgsl/grammar/Makefile
  wgsl/grammar/Package.swift
  wgsl/grammar/README.md
  wgsl/grammar/binding.gyp
  wgsl/grammar/bindings/c/tree-sitter-wgsl.pc.in
  wgsl/grammar/bindings/go/binding.go
  wgsl/grammar/bindings/python/tree_sitter_wgsl/__init__.py
  wgsl/grammar/bindings/rust/build.rs
  wgsl/grammar/go.mod
  wgsl/grammar/package.json
  wgsl/grammar/pyproject.toml
  wgsl/grammar/setup.py
  wgsl/grammar/src/scanner.c
  wgsl/tools/extract-grammar.py
  wgsl/tools/wgsl_unit_tests.py
Labels: wgsl, copyediting

#4913 Make image reads and writes non-private
  wgsl/index.bs
Labels: wgsl

#4911 Check for supported context formats in `configure()` on content timeline
  spec/index.bs
Labels: proposal, needs-cts-issue, api

#4930 wgsl: Define 'finite range'
  wgsl/index.bs
Labels: wgsl, copyediting

#4932 Similarity of variable and value declarations is a non-normative note
  wgsl/index.bs
Labels: copyediting

#4933 wgsl: Remove [INF] macro and its uses
  wgsl/index.bs
Labels: wgsl, copyediting

#4935 wgsl: cleanup uses of "infinity" in "differences from IEEE" and fp conversion sections
  wgsl/index.bs
Labels: wgsl, copyediting

#4941 Allow out-of-memory errors in createTexture/createQuerySet
  spec/index.bs
Labels: copyediting, api

#4947 Remove superfluous exposed on GPUDevice onuncapturederror
  spec/index.bs
Labels: copyediting, api
