Repository gpuweb/gpuweb, pull requests merged in 2025-02, with the labels that each got.

#5054 Define WGSL assertions as their own kind
  wgsl/index.bs
  wgsl/syntax.bnf
  wgsl/syntax/assert_statement.syntax.bs.include
  wgsl/syntax/const_assert.syntax.bs.include
  wgsl/syntax/global_assert.syntax.bs.include
  wgsl/syntax/global_decl.syntax.bs.include
  wgsl/syntax/statement.syntax.bs.include
  wgsl/syntax/translation_unit.syntax.bs.include
  wgsl/wgsl.recursive.bs.include
Labels: copyediting

#5055 Compat: Require capabilities provided by GL_EXT_color_buffer_float
  proposals/compatibility-mode.md
Labels: compat, api resolved, api

#5036 Compat: remove adapter.featureLevel; add "core-features-and-limits"
  proposals/compatibility-mode.md
Labels: proposal, compat

#5077 Fix prose for rg11b10ufloat-renderable to allow resolving
  spec/index.bs
Labels: copyediting, api

#5080 Mention normalization in `refract`
  wgsl/index.bs
Labels: wgsl, copyediting

#5090 Fix code in pointer-as-short-name example
  wgsl/index.bs
Labels: wgsl, copyediting
